body {
    display: flex;
}

#sidebar {
    width: 250px; /* Inicialmente expandido */
    background: #007bff;
    color: white;
    height: 100vh;
    overflow-x: hidden;
    transition: width 0.3s ease;
}

    #sidebar.collapsed {
        width: 1px;
    }

    #sidebar a {
        color: white;
        text-decoration: none;
        display: block;
        padding: 15px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        transition: background-color 0.3s ease;
    }

        #sidebar a:hover {
            background-color: #495057;
        }

    #sidebar .active {
        background-color: #007bff;
    }

    #sidebar .text-center img {
        width: 100px; /* Inicialmente expandido */
        height: 100px;
        transition: width 0.3s ease, height 0.3s ease;
    }

    #sidebar.collapsed .text-center img {
        width: 40px;
        height: 40px;
    }

.disabled {
    pointer-events: none;
    opacity: 0.5;
    color: grey;
}

#content {
    flex: 1;
    padding: 20px;
}

